<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">
	<!-- Default appender -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c - %m %n" />
		</layout>
	</appender>

	<appender name="command" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="info" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>

	<!-- Used to produce command line utilities file log -->

	<appender name="utility" class="org.apache.log4j.FileAppender">
		<param name="File" value="utility.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-20d{dd/MMM/yyyy HH:mm:ss} - %-5p - %m%n" />
		</layout>
	</appender>

	<!-- Ignore internal libraries log messages -->
	<!--
		<logger name="org.apache.jackrabbit"> <level value="warn" /> </logger>
	-->
	<logger name="com.exadel.flamingo">
		<level value="info" />
	</logger>
	<logger name="org.hibernate.tool.hbm2ddl">
		<level value="error" />
	</logger>
	<!--
		Ignore activity warning due to no database found <logger
		name="es.git.openkm.core"> <level value="fatal" /> </logger>
	-->
	<!--
		<logger name="com.exadel" additivity="true"> <level value="debug" />
		<appender-ref ref="console" /> <appender-ref ref="command" />
		<appender-ref ref="utility" /> </logger>
	-->
	<root>
		<level value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="utility" />
	</root>
</log4j:configuration>
