
Application
{
	modal-transparency: 0;
	paddingBottom: 20;
	paddingLeft: 20;
	paddingRight: 20;
	paddingTop: 20;
	/*verticalGap: 0;*/
	font-size:12;
	horizontalScrollPolicy: "off";
	verticalScrollPolicy:"off";
	fontFamily:"Arial";
	/*backgroundGradientColors: #030303, #030303;*/
	/*background-image:			Embed("undefined/assets/general/fondo3.jpg");*/
}
Alert {
    backgroundAlpha: 0.8;
    /*backgroundColor: red;*/
    borderAlpha: 0.8;
    /*borderColor: red;*/
    dropShadowEnabled: false;
}
ApplicationControlBar
{
	verticalAlign: middle;
	background-color:#030303;
	background-alpha:0.3;
	backgroundGradientColors: #030303, #030303;
	bar-color:#030303;
}
HorizontalList
{
	background-size:		"100%";
	background-color:		#dddddd;
	border-thickness:		0;
	padding-left:			0;
	padding-right:			0;
	padding-top:			0;
	padding-bottom:			0;
	vertical-gap:			0;
	horizontal-gap:			0;
	selection-color:		#707070;
	roll-over-color:		#999999;
}
.AccordionHeader {
	fillAlphas: 1.0, 0.5;
	font-size:13;
}


ToolTip {
  fontFamily: "Arial";
  fontSize: 12;
  fontStyle: "italic";
  color: #000000;
  backgroundColor: #FCEA1E;
}

.errorTip{
	font-size:12;
}
MenuBar
{ 
	background-size: "100%";
	menuStyleName: "";
	selectionColor:"";
	rollOverColor:"";
	textRollOverColor:"";
	textSelectedColor:""; 
	color: "";
}
/*
ErrorTip {
	font-size:12;
}
*/
